<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="AngularScripts/angular.js"></script>
    <script src="AngularScripts/angular-route.js"></script>
    <script src="AngularScripts/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js" integrity="sha512-/uxeq6VcJ+do+PtGgWZwRL/Z63r53cK6yek3NzvQwce6aCeheKRD59IuRsEFuNU8b0B/lZ6fUx1fncf0wMIm5Q==" crossorigin="anonymous"></script>
    <!--<script src="MyScripts/module.js"></script>
    <script src="MyScripts/service.js"></script>-->
    <!--<script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>-->
    <script src="app.js"></script>
    <script src="Service.js"></script>
</head>





<body class="container">

    <div ng-app="OrjApp">

        <br />

        <div class="card">
            <div class="card-header foreign-supplier-title clearfix " ng-click="showDetails = ! showDetails"
                 style="cursor:pointer">
                <div class="row">
                    <h3>
                        &emsp;Filters:
                    </h3>
                    <h3 class="ml-auto">

                        <span ng-if="showDetails" style="font-weight:lighter">+ &emsp;</span>
                        <span ng-if="!showDetails" style="font-weight:bolder">- &emsp;</span>
                    </h3>
                </div>
            </div>





            <div class="card-body" ng-controller="mainController" ng-if="!showDetails">
                <div class="row">
                    <div class="col-md-2"><h6>Category: </h6></div>
                    <div class="col-md-4">
                        <select type="text" class="form-control" placeholder="City" id="acity"
                                ng-options="c.slug as c.name for c in cats track by c.name" ng-model="selectedCat">
                            <option value="">--Select a Category--</option>
                        </select>
                    </div>

                </div>
                <br />

                <div class="row">
                    <div class="col-md-2"><h6> Job type: </h6></div>
                    <div class="col-md-4">

                        <select type="text" class="form-control"
                                ng-init="Jtype = 'all'" ng-model="Jtype">
                            <option value="all">all</option>
                            <option value="full_time">full time</option>
                            <option value="part_time">part time</option>
                            <option value="contract">contract</option>
                            <option value="internship">internship</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"><h6>Search: </h6></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Job Title, Description , ..." id="ity" ng-model="searchText" />
                    </div>

                </div>
                <br />

                <div class="row">
                    <div class="col-md-2"><h6>Company name: </h6></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Search by company name..." id="" ng-model="searchComp" />
                    </div>

                </div>



                <br />
                <div class="row">
                    <div class="col-md-6 ">
                        <input class="float-right btn btn-secondary" type="button" name="name" value="GO!" ng-click="GO()" />
                    </div>
                </div>

            </div>
        </div>




        <span id="res"></span>
        <br />

        <div class="card">
            <div class="card-header">
                <h3>&ensp;Results:</h3>
            </div>
            <div class="card-body" ng-view>

            </div>

        </div>




    </div>



</body>
</html>