<span id="res"></span>
<br />

<div class="card ">
    <div class="card-header">
        <h3>&ensp;Results:</h3>
    </div>

    <div>

        <table class="table table-bordered">
            <thead>
                <tr id="headTr">
                    <th style="width:">Title</th>
                    <th>Company</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Details</th>

                </tr>
            </thead>

            <tbody id="tbd">
                <tr ng-repeat="j in jobs">
                    <td>{{j.title}}</td>
                    <td>{{j.company_name}}</td>
                    <td>{{j.category}}</td>
                    <td>{{j.job_type}}</td>
                    <td>
                        <input type="button" pointer name="name" value="Details"
                               ng-click="goDetails(j.id)" class="btn btn-outline-secondary" />
                        <!--ng-click="goDetails(j.id)" style="cursor:pointer;color:cornflowerblue;font-weight:bold" />-->
                    </td>

                </tr>
            </tbody>

        </table>
    </div>
</div>
